[Unit]
Description=DHT22 sensor

[Service]
Type=simple
Environment=DHT22_PIN=4
Environment=TOPIC=home/room
Environment=MQTT_HOST=your.host
Environment=MQTT_USER=homeassistant
Environment=MQTT_PASS=your-password
Restart=always
ExecStart=/usr/bin/DHT22.py

[Install]
WantedBy=multi-user.target