[Unit]
Description=BMP180 sensor

[Service]
Type=simple
Environment=BUS_ADDRESS=0x77
Environment=TOPIC=home/room
Environment=MQTT_HOST=your.host
Environment=MQTT_USER=homeassistant
Environment=MQTT_PASS=your-password
Restart=always
ExecStart=/usr/bin/BMP180.py

[Install]
WantedBy=multi-user.target